<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>


</head>
<body>
    <div class="m-2">
        <form action="/logout?_method=DELETE" method="POST">
            <button class="btn btn-primary my-2 Submit" style="text-align: center;" type="submit">
                Log Out
            </button>
        </form>
    </div>
    <div class="flex-col">
        <!-- Welcome header here -->
        <header class="welcome ">
            <div class="welcome-container px-lg-5">
                <div class="w-paragraph">
                    <div class="w-message">
                        <img src="./img/logo.png" alt="" />
                        <h1 class="">Welcome to Aployed</h1>
                        <p class="">
                            Is web application that allow users to view various tech training academy's that are free acceseed and available for South Africa residents to enroll in.
                        </p>
                        <a class="about-btn" href="#">More about us here</a>
                    </div>
                </div>
            <!-- </div>
            <h3 style="color: blueviolet; text-align: center;
          font-size: x-large;">
                Click on your favourite tab below to sastify your curiousity</h3> -->
        </header>
    
        <!-- content here  -->
        
    </div>


</body>

</html>

